body {
  background: rgb(207, 206, 206);
}

.appContainer {
  max-width: 900px;
  margin: auto;
  background: rgb(238, 152, 143);
  padding: 10px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.addToDoContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

ul {
  padding: 0;
}

input {
  width: 500px;
}

li {
  border: solid 1px;
  height: 25px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.individualToDo {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strikeout {
  background-color: rgb(174, 112, 112);
  text-decoration: line-through;
}

.complete {
  /* background-color: purple; */
  text-decoration: none;
}

.testing {
  height: 30px;
  width: 30px;
  background-image: url(/images/image.png);
  background-size: 30px;
}
