/* BACKGROUND OPACITY */
body::after {
  background-size: 100px !important;
  background-repeat: repeat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  content: "";
  background: url(/images/background.svg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* TODO CONTAINER */
.appContainer {
  width: 50vw;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 100px 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00595d, 0 6px 20px 0 #00595d;
}

/* TODO TITLE TEXT */
h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.allContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: solid 5px #00595d;
}

.ac {
  margin: 10px 35px;
}

.checkAllToDos {
  height: 30px;
  width: 30px;
  background-image: url(/images/not_checked.png);
  background-size: 30px;
  pointer-events: none;
}

.reallyCompleted:checked + .checkAllToDos {
  background-image: url(/images/checked.png);
  height: 30px;
  width: 30px;
  margin-left: 10px 35px;
}

.reallyCompleted {
  height: 30px;
  width: 30px;
  position: absolute;
  opacity: 0;
}

.deleteAllToDos {
  height: 30px;
  width: 30px;
  background-image: url(/images/trash.png);
  background-size: 30px;
  margin: 10px 37px;
}


/* ADD NEW TODO BUTTON */
#addToDoButton {
  background-color: #00595d;
  color: white;
  height: 40px;
  width: 100px;
  font-size: large;
  border-radius: 0px 5px 5px 0px;
}

/* NEW TODO LIST ELEMENT */
#newToDo {
  border-radius: 5px 0px 0px 5px;
  font-size: large;
  padding-left: 5px;
  width: 500px;
}


.addToDoContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

ul {
  padding: 0;
}

li {
  height: 25px;
  margin: 5px;
  padding: 0px 50px;
  border-radius: 5px;
}

.individualToDo {
  list-style-type: none;
  display: flex;
  height: 40px;
  font-size: large;
  align-items: center;
}

.editToDo {
  background-image: url(/images/edit.png);
  background-size: 30px;
  height: 30px;
  width: 30px;
  margin-left: auto;
}

.saveToDo {
  background-image: url(/images/save.png);
  background-size: 30px;
  height: 30px;
  width: 30px;
  margin-left: auto;
}

.markComplete {
  color: rgb(187, 187, 187);
  text-decoration: line-through;
}

.deleteToDo {
  height: 30px;
  width: 30px;
  background-image: url(/images/trash.png);
  background-size: 30px;
  margin-left: 5px;
}

.checkToDo {
  height: 30px;
  width: 30px;
  background-image: url(/images/not_checked.png);
  background-size: 30px;
  margin-right: 10px;
  /* pointer-events: none; */
}

.checkComplete {
  background-image: url(/images/checked.png);
  height: 30px;
  width: 30px;
  background-size: 30px;
  margin-right: 10px;
  /* pointer-events: none; */
}

/* .reallyChecked:checked + .checkToDo {
} */

.reallyChecked {
  height: 30px;
  width: 30px;
  position: absolute;
  opacity: 0;
}

.testing:focus {
  width: 86%;
  height: 40px;
  display: flex;
  align-items: center;
}

